<%- include("partials/header") -%>

<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet"
/>
<script
	type="text/javascript"
	src="https://unpkg.com/html-to-text@8.1.0/index.js"
	crossorigin="anonymous"
></script>
<div class="container">
	<form class="form-url" method="post" action="/getContent">
		<div>Enter the url that you want to get content:</div>
		<input
			type="text"
			class="input-url"
			name="url"
			placeholder="Example: https://example.com"
		/>
		<button type="submit">Get</button>
	</form>
	<hr />
	<div class="content-url">
		<% if(content){ %>
		<h1>Your content is:</h1>
		<p><%- content %></p>
		<% } %> <% if(error){ %>
		<h1>Cannot get content</h1>
		<% } %>
	</div>
</div>

<%- include("partials/footer") -%>
