<%- include("partials/header") -%>

<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet"
/>
<div class="container">
	<form class="post-detail" method="post" action="/changePassword">
		<div>
			<input
				type="password"
				class="form-control"
				name="newPassword"
				placeholder="New password"
			/>
		</div>

		<button class="btn btn-primary" type="submit">Change password</button>
	</form>
</div>
