<%- include("partials/header") -%>

<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet"
/>
<div class="container">
	<h1>Congratulation! You found it!</h1>
</div>

<%- include("partials/footer") -%>
