<%- include("partials/header") -%>
<div class="form-login">
	<form method="POST">
		<!-- <img class="mb-4" src="img/logo.jpg" alt="" width="150" height="150" /> -->
		<input
			type="text"
			name="username"
			class="form-control top"
			placeholder="Username"
			required
			autofocus
		/>
		<input
			type="password"
			name="password"
			class="form-control middle"
			placeholder="Password"
			required
		/>
		<button class="btn btn-lg btn-primary btn-block" type="submit">
			Log in
		</button>
	</form>
</div>
<%- include("partials/footer") -%>
